@font-face{
    font-family: 'Grotesk';
    font-weight: 400;
    src: url(../Fonts/HankenGrotesk-VariableFont_wght.woff);
}
@font-face{
    font-family: 'Grotesk';
    font-weight: 600;
    src: url(../Fonts/HankenGrotesk-SemiBold.woff);
}
@font-face{
    font-family: 'Grotesk';
    font-weight: 500;
    src: url(../Fonts/HankenGrotesk-Medium.woff);
}
@font-face{
    font-family: 'Grotesk';
    font-weight: 700;
    src: url(../Fonts/HankenGrotesk-Bold.woff);
}