* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.first {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #EDEDED;
}

.m40 {
    margin-top: 40px;
}

.desc {
    display: flex;
    gap: 5px;
    align-items: center;
    border-bottom: solid 3px #008ECC;
}

.desc-2 {
    display: flex;
    align-items: center;
    gap: 6px;
}

.desc p {
    color: #666666;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

.desc span {
    color: #008ECC;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

.desc-2 a {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #222222;
}

.second {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 120px;
}

.rad {
    width: 132px;
    height: 132px;
    background-color: #F5F5F5;
    border-radius: 50%;
    cursor: pointer;
    border: solid 2px white;
}
.rad:hover{
    box-shadow: 0px 8px 20px #e9e9e9;
    transition: all 0.6s;
    border: solid 2px #05ABF3;
}

.s22 img {
    margin-top: 14px;
}

.second p {
    color: #222222;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
}

.third {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.box1 {
    padding: 12px 30px 10px 20px;
    width: 389px;
    height: 207px;
    border-radius: 16px;
    background-color: #313131;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}

.box2 {
    padding: 12px 17px 10px 20px;
    width: 389px;
    height: 207px;
    border-radius: 16px;
    background-color: #FFF3CC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}

.box3 {
    padding: 12px 20px 11px 20px;
    width: 389px;
    height: 207px;
    border-radius: 16px;
    background-color: #FFECDF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}

.p-icon img {
    margin: 20px 0px;
}

.box1 .main p {
    font-size: 14px;
    letter-spacing: 10%;
    color: white;
    background-color: #494949;
    width: 99px;
    height: 35px;
    border-radius: 8px;
    text-align: center;
    padding: 9px;
}

.box2 .main p {
    font-size: 14px;
    letter-spacing: 10%;
    color: #222222;
    background-color: #F6DE8D;
    width: 99px;
    height: 35px;
    border-radius: 8px;
    text-align: center;
    padding: 9px;
}

.box3 .main p {
    font-size: 14px;
    letter-spacing: 10%;
    color: #222222;
    background-color: #FFD1B0;
    width: 99px;
    height: 35px;
    border-radius: 8px;
    text-align: center;
    padding: 9px;
}

.box1 .main span {
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.box2 .main span {
    font-size: 24px;
    font-weight: 600;
    color: #222222;
}

.box3 .main span {
    font-size: 24px;
    font-weight: 600;
    color: #222222;
}

.c1 {
    position: absolute;
    top: 0px;
    right: 0px;
}

.c2 {
    position: absolute;
    top: 0px;
    right: 0px;
}

.ic {
    position: absolute;
    top: 0px;
    right: 0px;
}

.ic2 {
    position: absolute;
    top: 0px;
    right: 0px;
}

.rc {
    position: absolute;
    top: 0px;
    right: 0px;
}

.rc2 {
    position: absolute;
    top: 0px;
    right: 0px;
}

.phone-img {
    z-index: 2;
}

.box1 .c1 img {
    border-top-right-radius: 16px;
}

.box2 .ic2 img {
    border-top-right-radius: 16px;
}

.box3 .rc2 img {
    border-top-right-radius: 16px;
}

.hover {
    margin-bottom: 120px;
    cursor: pointer;
}

.fourth {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 120px;
    text-align: center;
    gap: 16px;
}

.f-img {
    background-color: #F5F5F5;
    width: 187px;
    height: 187px;
    border-radius: 16px;
    margin-bottom: 20px;
    padding-top: 14px;
    cursor: pointer;
    border: solid 2px white;
}

.f-img:hover{
    box-shadow: 0px ;
    box-shadow: 0px 10px 13px #e9e9e9;
    border: solid 2px #05ABF3;
    transition: all 0.5s;
}

.box1:hover{
    transform: translateY(-2px);
    transition: all 0.3s;
}

.box2:hover{
    transform: translateY(-2px);
    transition: all 0.3s;
}

.box3:hover{
    transform: translateY(-2px);
    transition: all 0.3s;
}

.fruits span {
    font-weight: 600;
    font-size: 16px;
    color: #666666;
}

.fruits p {
    font-size: 20px;
    font-weight: 700;
    color: #222222;
    margin-top: 3px;
}

.p20 {
    padding-top: 30px;
}

.p30 {
    padding-top: 45px;
}

.fifth {
    background-color: #008ECC;
    width: 100%;
    height: 592px;
    margin-bottom: 100px;
    position: relative;
}

.contact-flex {
    display: flex;
    gap: 11px;
    margin-bottom: 25px;
}

.sahifa-1 h1 {
    font-size: 50px;
    font-weight: 500;
}

.sahifa-1 h6 {
    font-weight: 700;
    font-size: 20px;
    margin: 34px 0px 20px;
}

.sahifa-1 p {
    font-weight: 600;
    font-size: 16px;
}

.sahifa-1 h5 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.apps {
    gap: 20px;
    display: flex;
}

.sahifa-2 P {
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
}

.sahifa-2 a{
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    line-height: 37px;
    color: white;
}
ul{
    margin: 20px;
}

.br {
    border-bottom: solid 3px white;
    margin-bottom: 20px;
}

.posit {
    position: absolute;
    right: 0px;
    top: 0px;
}

.wrapper {
    display: flex;
    color: #FFFFFF;
    justify-content: space-between;
    border-bottom: solid 1px #05ABF3;
    padding: 80px 329px 80px 80px;
}

.end p {
    font-size: 20px;
    color: white;
    font-weight: 400;
    text-align: center;
    margin-top: 15px;
}

.wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 30px;
    gap: 16px;
}

.hover {
    align-items: center;
    text-align: center;
    margin-bottom: 120px;
}